#col1{
    margin-right: 100px;
    margin-left: 25px;
    border: rgb(246, 242, 127) 5px solid;
    border-radius: 20px;
    padding-bottom: 30px;
    width: 200px;
}


h1, th, input, .modal-body, .modal-title, .btn, a{
    font-family: 'Mitr', sans-serif;
}

#imgEditar{
    width: 900px;
    height: 525px;
    border-radius: 7px;
}

#tabla_clientes{
    overflow-y: scroll;
    height: 300px;
    width: 100px;
}

#headerModal{
    background-color: red;
}

#logoMaaji{
    height: 200px;
    width: 300px;
}